.sharing{
     width:80%;
     height:50vw;
     border-radius: 3vw;
     background-color:rgba(100%, 100%, 100%, 0.8);
     position:fixed;
     /*bottom: 60vw;*/
	 bottom: -50vw;
     left: 10vw;
	 opacity: 0;
 }

.linkpic{
    width:18vw;
    top:4vw;
    left:8vw;
    position:absolute;
}
.fbpic{
    width:18vw;
    top:29vw;
    left:8vw;
    position:absolute;
}
.link{
    font-size:5vw;
    top:8vw;
    left:30vw;
    position:absolute;
}
.fb{
    font-size:5vw;
    top:34vw;
    left:30vw;
    position:absolute;
}
.line{
    width:90%;
    left:4vw;
    top:24vw;
    position:absolute;
}
.cancel{
    width:80%;
    height:15vw;
    left:9.5vw;
    color:#54c7fc;
    font-size:5vw;
    border:none;
    border-radius:3vw;
    background-color:rgba(100%, 100%, 100%, 0.8);
    position:fixed;
    /*bottom:44.9vw;*/
	bottom: -65.1vw;
	opacity: 0;
}
