@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin:0;
    font-family:'Noto Sans TC', sans-serif;
}
.topbar{
    margin-top:10vw;
    width:100%;
    height:8%;
    position:relative;
}
.back{
    left:2vw;
    width:12vw;
    position:absolute;
}
.toptitle{
    left:41vw;
    top:3vw;
    font-size:4vw;
    color:#4a4a4a;
    position:absolute;
}
.keep{
    width:12vw;
    right:2vw;
    position:absolute;
}
.main{
    width:100%;
    height:20%;
    position:relative;
}
.head{
    width:24vw;
    height:24vw;
    left:6vw;
    top:6vw;
    border-radius:50%;
    background-color:gray;
    position:absolute;
}
.smallicon{
    width:4vw;
    left:25vw;
    top:25vw;
    position:absolute;
}
.topname{
    left:40vw;
    top:8vw;
    font-size:4vw;
    position:absolute;
}
.jewelicon{
    width:3vw;
    top:9vw;
    left:83vw;
    position:absolute;
}
.jewelnumber{
    font-size:2.5vw;
    top:8.5vw;
    left:88vw;
    color:#9866ff;
    position:absolute;
}
.intro{
    left:40vw;
    top:15vw;
    right:5vw;
    font-size:2.5vw;
    color:#9b9b9b;
    position:absolute;
}
.follow{
    width:100%;
    height:10%;
    position:relative;
}
.fannumber{
    font-size:5vw;
    top:2vw;
    left:8vw;
    position:absolute;
}
.follownumber{
    font-size:5vw;
    top:2vw;
    left:40vw;
    position:absolute;
}
.fantext{
    font-size:3vw;
    top:10vw;
    left:9vw;
    color:#9b9b9b;
    position:absolute;
}
.followtext{
    font-size:3vw;
    top:10vw;
    left:39vw;
    color:#9b9b9b;
    position:absolute;
}
.editbutton{
    width:30vw;
    height:7vw;
    right:5vw;
    top:4vw;
    font-size:4vw;
    text-align:center;
    border:solid 2px #54c7fc;
    color:#54c7fc;
    border-radius:2vw;
    position:absolute;
}
.task{
    width:90%;
    height:20%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 1vw;
    box-shadow:4px 4px 2vw rgba(20%,20%,20%,0.5);
    position:relative;
}
.taskpic{
    width:25vw;
    height:21vw;    
    top:2vw;
    left:2vw;
    position:absolute;
    background-color:gray;
}
.picicon{
    width:3vw;
    top:17vw;
    left:4vw;
    position:absolute;
}
.tasknumber{
    font-size:2.5vw;
    top:17vw;
    left:9vw;
    position:absolute;
}
.tasktitle{
    font-size:4vw;
    top:2vw;
    left:30vw;
    position:absolute;
}
.tasktext{
    width:45vw;
    font-size:2.5vw;
    top:10vw;
    left:30vw;
    color:#4a4a4a;
    position:absolute;
}
.expire{
    top:20vw;
    left:75vw;
    font-size:2.5vw;
    color:red;
    position:absolute;
}
.orange{
    width:3vw;
    top:30vw;
    left:3vw;
    position:absolute;
}
.jewel{
    font-size:2.5vw;
    top:29.5vw;
    left:9vw;
    color:#9b9b9b;
    position:absolute;
}
.percent{
    font-size:2.5vw;
    top:29.5vw;
    left:35vw;
    color:#9b9b9b;
    position:absolute;
}
.purple{
    width:3vw;
    top:30vw;
    left:60vw;
    position:absolute;
}
.missionjewel{
    font-size:2.5vw;
    top:29.5vw;
    left:65vw;
    color:#9866ff;
    position:absolute;
}
.grayline{
    width:100%;
    bottom:0vw;
    size: 10vw;
    color:gray;
    background-color: gray;
    position:absolute;
}
.orangeline{
    width:60%;
    bottom:0vw;
    size: 10vw;
    color:orange;
    background-color: orange;
    position:absolute;
    z-index:1;
}
.blank{
    width:100%;
    height:15%;
}
.bar{
    bottom: 0;
    width:100%;
    height:12vw;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3); 
}
.bar ul{
    margin: 0;
    padding: 0;
}
.bar ul li{
    list-style: none;
    float: left;
}

.bar ul li img{
  height: 6.5vw;
  margin-top: 2.5vw;
}

.bar ul li.a img{
  content: url(../img/tab_icn_me_active.png);
  margin-left: 6vw;
}

.bar ul li.b img{
    content: url(../img/bar-folder.png);
  margin-left: 14.5vw;
}

.bar ul li.c img{
    content: url(../img/tab_icn_oncall.png);
  margin-left: 14.5vw;
}

.bar ul li.d img{
    content: url(../img/tab_icn_mymissions.png);
  margin-left: 14.5vw;
}

.bar ul li.e img{
    content: url(../img/tab_icn_notification.png);
  margin-left: 14.5vw;
}

.title ul {
    
    padding:0;
}

.title ul li{
    list-style-type:none;
    width:100%;
	padding-bottom: 5vw;
}

.title ul li .post{
	width: 100vw;
	box-shadow: 0 1vw 2vw -2vw;
}    

.title .circle{
    float:left;
    width:7vw;
    height:7vw;
    margin-left:2vw;
    margin-top:2vw;
    margin-bottom:3vw;
    border-radius:50%;
    background-color:gray;
    
}
.title  .name{
    float:left;
    padding-left:3vw;
    margin-top:3vw;
    font-size:3vw;
}
.title .date{
    float:right;
    font-size:2.5vw;
    margin-top:3vw;
    padding-right: 1vw;
}
.title .time{
    float:right;
    font-size:2.5vw;
    margin-top:3vw;
	margin-right:3vw;
}

.title .thunder{
    float:right;
    margin-top:2vw;
    width: 10%;
    
}
.pic .text{
    font-size: 3vw;
    margin-top: 3vw;
    margin-left: 3vw;
    margin-right: 0vw; 
	width: 83vw;
	height: 5vw;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.pic{
    margin:0;
}
.pic .mainpic{
    width:100%;
    float:clear;
	pointer-events: all;
}

.subpic{
	position: absolute;
	right: 0vw;	
}

.subpic img{
	width: 33vw;
	object-fit: cover;
}

.picmore{
	width: 33vw;
	bottom: 0vw;
	background-color: rgba(13, 8, 25, 0.71);
}

.picmore p{
	color: white;
	text-align: center;
	font-size: 1vw;
}

.pic .heart, .pic .active-heart{
    width: 9vw;
    left: 4vw;
    bottom: 0vw;
    position: absolute;
}
.pic .platform{
    width:7vw;
    right:3vw;
    bottom: -2.5vw;
    position:absolute;
}

.pic .camera{
	position: absolute;
	width: 9vw;
	right: 2vw;
	bottom: 4vw;
}

 .pic .number{
    font-size:3vw; 
    left:13vw;
    bottom:2vw;
    position:absolute;
 }
 .pic .number_m{
    font-size:3vw; 
    left:53vw;
    bottom:2vw;
    position:absolute;
 }
.pic .message{
	width: 8vw;
    position: absolute;
    left: 44vw;
    bottom: 0vw;
}

.pic .share{
	width: 9vw;
    position: absolute;
    bottom: 0vw;
    right: 4vw;
}
.middle{
    width:100%;
    position:relative;
	pointer-events: none;
}

.interact{
	position: relative;
    height: 10vw;
}

