@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
    margin:0;
    font-family:'Noto Sans TC', sans-serif;
}
.head{		
     width:7vw;		
     height:7vw;		
     border-radius:50%;		
     background-color:gray;		
     top:4.5vw;		
     left:46vw;		
     position:absolute;		
 }

.loading{
	width: 100vw;
}

li{
    list-style-type:none;
    width:100%;
	padding-bottom: 5vw;
}

li .post{
	width: 100vw;
	box-shadow: 0 1vw 2vw -2vw;
}    

.circle{
    float:left;
    width:7vw;
    height:7vw;
    margin-left:2vw;
    margin-top:2vw;
    margin-bottom:3vw;
    border-radius:50%;
    background-color:gray;
    
}
.name{
    float:left;
    padding-left:3vw;
    margin-top:3vw;
    font-size:3vw;
}
.date{
    float:right;
    font-size:2.5vw;
    margin-top:3vw;
    padding-right: 1vw;
}
.time{
    float:right;
    font-size:2.5vw;
    margin-top:3vw;
	margin-right:3vw;
}

.thunder{
    float:right;
    margin-top:2vw;
    width: 10%;
    
}
.text{
    font-size: 3vw;
    margin-top: 3vw;
    margin-left: 3vw;
    margin-right: 3vw; 
	width: 94vw;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.pic{
    margin:0;
    
}
.pic .mainpic{
    width:100%;
    float:clear;
    pointer-events:all;
}

.subpic{
	position: absolute;
	right: 0vw;	
}

.subpic img{
	width: 33vw;
	object-fit: cover;
}

.picmore{
	width: 33vw;
	bottom: 0vw;
	background-color: rgba(13, 8, 25, 0.71);
}

.picmore p{
	color: white;
	text-align: center;
	font-size: 1vw;
}

.pic .heart, .pic .active-heart{
    width: 9vw;
    left: 4vw;
    bottom: 0vw;
    position: absolute;
}
.pic .platform{
    width:7vw;
    right:3vw;
    bottom: -2.5vw;
    position:absolute;
}

.pic .camera{
	position: absolute;
	width: 9vw;
	right: 2vw;
	bottom: 4vw;
}

.pic .number{
    font-size:3vw; 
    left:13vw;
    bottom:2vw;
    position:absolute;
 }
.pic .number_m{
    font-size:3vw; 
    left:53vw;
    bottom:2vw;
    position:absolute;
 }
.pic .message{
	width: 8vw;
    position: absolute;
    left: 44vw;
    bottom: 0vw;
}

.pic .share{
	width: 9vw;
    position: absolute;
    bottom: 0vw;
    right: 4vw;
}
.middle{
    width:100%;
    position:relative;
	pointer-events: none;
}

.interact{
	position: relative;
    height: 10vw;
}

.w100 {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 56.25%; 
	margin-bottom: 15vw;
	pointer-events:all;
}

.video {
	position: absolute;
    top: 12vw;
    left: 0;
    width: 100%;
    height: 100%;
}

.time, .date, .text, .number, .number_m {
	color: #7c8999;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgba(124,138,153,0.71);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(124,138,153,0.71);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(124,138,153,0.71);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgba(124,138,153,0.71);
}
.top{
    margin-top:6vw;
    width:100%;
    height:14vw;
    position: relative;
    
}
.back{
    width:15vw;
    float:left;
    position:absolute;
}

.reply{
	margin-bottom: 0.6vw;
}

.reply .replyhead{
    width:6vw;
    height:6vw;
    border-radius:50%;
    background-color:gray;
    left:5vw;
    float:left;
    margin-left:7vw;
}
.reply .replyname{
    font-size:3vw;
    margin-left:2vw;
    margin-bottom:0vw;
    color:#8b572a;
    float:left;
}
.reply .replytime{
    font-size:3vw;
    margin-left:2vw;
    float:left;
	color: rgba(124, 137, 153, 0.8);
}
.reply .replytext{
    font-size: 3vw;
    margin-left: -3vw;
    padding-top: 0vw;
    padding-left: 5vw;
    padding-bottom: 2vw;
    border-left: solid 0.5vw rgba(124, 138, 153, 0.3);
    float: left;
    color: #4a4a4a;
	width: 77vw;
}
.reply .replytextlast{
    font-size: 3vw;
    margin-left: -3vw;
    padding-top: 0vw;
    padding-left: 5.5vw;
    padding-bottom: 2vw;
    float: left;
    color: #4a4a4a;
	margin-bottom: 15vw;
	width: 77vw;
}
.write{
	font-size: 3.3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 10vw;
    bottom: 4vw;
    left: 5vw;
    border: solid 0.2vw rgba(124, 137, 153, 0.4);
    width: 90vw;
    color: #4a4a4a;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
}

.writehead{
	position: fixed;
	width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: gray;
    bottom: 5vw;
    left: 7vw;
}

.write:focus{
	outline: none;
}
